.tg{
    border-top:1px solid rgb(212, 212, 212);
    border-left:1px solid rgb(212, 212, 212);
    border-right:1px solid rgb(212, 212, 212);
}

.tg-row{
    display:block;
    clear:both;
    height:24px;
    width:auto;
    min-width:1px;
    overflow:hidden;
    margin:0;
    padding:0;
    outline:none;
    border-bottom:1px rgb(212, 212, 212) solid;
}

.tg-row-header{
    display:block;
    clear:both;
    height:24px;
    width:auto;
    min-width:1px;
    overflow:hidden;
    margin:0;
    padding:0;
    outline:none;
    border-bottom:1px rgb(212, 212, 212) solid;
}

.tg-cell{
    display:block;
    clear:none;
    float:left;
    width:96px;
    height:100%;
    line-height:24px;
    text-align:center;
    overflow:hidden;
    margin:0;
    padding:0 2px;
    outline:none;
    font-size:14px;
    border-right:1px rgb(212, 212, 212) solid;
    min-width: 50px;
}

.tg-cell-header{
    display:block;
    clear:none;
    float:left;
    width:96px;
    height:100%;
    line-height:24px;
    text-align:center;
    overflow:hidden;
    margin:0;
    padding:0 2px;
    outline:none;
    font-size:14px;
    font-weight: bolder;
    background-color: rgb(249,249,249);
    border-right:1px rgb(212, 212, 212) solid;
    min-width: 50px;
}

.tg-cell-header:hover{
    cursor: pointer;
}

.select-header{
    background-color: #ababab;
}